body {
    overflow: hidden; /* Hide scrollbars */
    margin: 0 !important;
    padding: 0 !important;

}

.game-container {
    position: relative;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.hud-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:10px solid black;
}